node_modules/
.turbo/

.next/
dist/
coverage/

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
temp/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
.vercel
.env*
